html,
body,
header,
main,
footer,
div,
p {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1em;
    margin-top: 0;
    margin-bottom: 0;
}


html, body {
    min-height: 100vh;
}

body {
    background-color: gray;
    display: flex;
    flex-direction: column;
}

header {
    background-color: rgb(216, 86, 86);
    min-width: 50em;
    min-height: 5em;
}

main {
    flex: 1;
    background-color: rgb(85, 221, 85);
    min-width: 50em;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.main-left {
    flex: 3;
    min-width: 20em;
    border: 1px solid black;
}

.main-right {
    flex: 10;
    min-width: 50em;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    align-items: stretch;
    justify-items: stretch;

}

.stickers {
    background-color: rgb(173, 173, 93);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    row-gap: min(1em, 5%);
    column-gap: min(2em, 5%);
    padding: 10% 5%;
    margin: 0;
    align-items: stretch;
    justify-items: center;

}

.stickers div {
    background-color: aqua;
    min-height: 12em;
    min-width: 12em;
    width: 80%;
}


footer {
    background-color: rgb(99, 99, 223);
    min-width: 50em;
    min-height: 5em;
}